h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  width: 100px;
  height: 45px;
  border-radius: 10px;
  background-color: green;
  color: white;
  border: none;
}

.todo-container {
  margin: 5px;
  padding: 10px;
}

.delete {
  background-color: red;

  color: white;
}

.datas {
  width: 450px;
  display: flex;
  justify-content: space-between;
}
